backend/n8n/workflows/report-generation.json
{
  "name": "FastenMind - Report Generation and Distribution",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "monthly-trigger",
      "name": "Monthly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "report_type",
              "value": "weekly"
            },
            {
              "name": "report_list",
              "value": "sales_summary,inventory_status,production_metrics"
            }
          ]
        },
        "options": {}
      },
      "id": "set-weekly-reports",
      "name": "Set Weekly Reports",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "report_type",
              "value": "monthly"
            },
            {
              "name": "report_list",
              "value": "financial_summary,customer_analytics,supplier_performance,quality_metrics"
            }
          ]
        },
        "options": {}
      },
      "id": "set-monthly-reports",
      "name": "Set Monthly Reports",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Split report list and prepare generation requests\nconst reportType = $input.all()[0].json.report_type;\nconst reportList = $input.all()[0].json.report_list.split(',');\n\nconst reports = reportList.map(reportName => {\n  // Define report configurations\n  const reportConfigs = {\n    sales_summary: {\n      name: 'Weekly Sales Summary',\n      template_id: 'sales_weekly',\n      recipients: ['sales.team@fastenmind.com', 'management@fastenmind.com'],\n      format: 'pdf',\n      include_charts: true\n    },\n    inventory_status: {\n      name: 'Inventory Status Report',\n      template_id: 'inventory_status',\n      recipients: ['inventory.team@fastenmind.com', 'procurement@fastenmind.com'],\n      format: 'excel',\n      include_details: true\n    },\n    production_metrics: {\n      name: 'Production Metrics Report',\n      template_id: 'production_weekly',\n      recipients: ['production.team@fastenmind.com', 'quality@fastenmind.com'],\n      format: 'pdf',\n      include_kpis: true\n    },\n    financial_summary: {\n      name: 'Monthly Financial Summary',\n      template_id: 'financial_monthly',\n      recipients: ['cfo@fastenmind.com', 'finance.team@fastenmind.com'],\n      format: 'pdf',\n      include_comparison: true\n    },\n    customer_analytics: {\n      name: 'Customer Analytics Report',\n      template_id: 'customer_monthly',\n      recipients: ['sales.manager@fastenmind.com', 'marketing@fastenmind.com'],\n      format: 'pdf',\n      include_trends: true\n    },\n    supplier_performance: {\n      name: 'Supplier Performance Report',\n      template_id: 'supplier_monthly',\n      recipients: ['procurement.manager@fastenmind.com', 'quality@fastenmind.com'],\n      format: 'excel',\n      include_scorecard: true\n    },\n    quality_metrics: {\n      name: 'Quality Metrics Report',\n      template_id: 'quality_monthly',\n      recipients: ['quality.manager@fastenmind.com', 'production.manager@fastenmind.com'],\n      format: 'pdf',\n      include_analysis: true\n    }\n  };\n  \n  return {\n    report_type: reportType,\n    report_name: reportName.trim(),\n    config: reportConfigs[reportName.trim()] || {}\n  };\n});\n\nreturn reports.map(report => ({ json: report }));"
      },
      "id": "prepare-reports",
      "name": "Prepare Report Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{$env[\"FASTENMIND_API_URL\"]}}/api/reports/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env[\"FASTENMIND_API_KEY\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_id",
              "value": "={{$json[\"config\"][\"template_id\"]}}"
            },
            {
              "name": "report_name",
              "value": "={{$json[\"config\"][\"name\"]}}"
            },
            {
              "name": "format",
              "value": "={{$json[\"config\"][\"format\"]}}"
            },
            {
              "name": "period",
              "value": "={{$json[\"report_type\"]}}"
            },
            {
              "name": "options",
              "value": "={{JSON.stringify($json[\"config\"])}}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "check-generation",
      "name": "Generation Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$json[\"file_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-report",
      "name": "Download Report File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "reports@fastenmind.com",
        "toEmail": "={{$json[\"config\"][\"recipients\"].join(\",\")}}",
        "subject": "{{$json[\"config\"][\"name\"]}} - {{new Date().toLocaleDateString()}}",
        "html": true,
        "htmlBody": "=<h2>{{$json[\"config\"][\"name\"]}}</h2>\n<p>Dear Team,</p>\n<p>Please find attached the {{$json[\"report_type\"]}} report for your review.</p>\n<h3>Report Details:</h3>\n<ul>\n<li><strong>Report Period:</strong> {{$json[\"report_period\"]}}</li>\n<li><strong>Generated On:</strong> {{new Date().toLocaleString()}}</li>\n<li><strong>Format:</strong> {{$json[\"config\"][\"format\"].toUpperCase()}}</li>\n</ul>\n<h3>Key Highlights:</h3>\n<ul>\n{{$json[\"highlights\"].map(h => `<li>${h}</li>`).join(\"\\n\")}}\n</ul>\n<p>You can also access this report online:</p>\n<p><a href=\"{{$env[\"FASTENMIND_APP_URL\"]}}/reports/{{$json[\"report_id\"]}}\">View Report Online</a></p>\n<p>For any questions or feedback, please contact the reporting team.</p>\n<p>Best regards,<br>FastenMind Reporting System</p>",
        "attachments": "={{$binary.data}}",
        "options": {}
      },
      "id": "send-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "={{$env[\"FASTENMIND_API_URL\"]}}/api/reports/{{$json[\"report_id\"]}}/archive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env[\"FASTENMIND_API_KEY\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "distribution_list",
              "value": "={{$json[\"config\"][\"recipients\"]}}"
            },
            {
              "name": "sent_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "archive-report",
      "name": "Archive Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "fromEmail": "reports@fastenmind.com",
        "toEmail": "it.support@fastenmind.com",
        "subject": "Report Generation Failed - {{$json[\"config\"][\"name\"]}}",
        "html": true,
        "htmlBody": "=<h2>Report Generation Error</h2>\n<p>The following report failed to generate:</p>\n<ul>\n<li><strong>Report:</strong> {{$json[\"config\"][\"name\"]}}</li>\n<li><strong>Template:</strong> {{$json[\"config\"][\"template_id\"]}}</li>\n<li><strong>Error:</strong> {{$json[\"error_message\"]}}</li>\n<li><strong>Time:</strong> {{new Date().toLocaleString()}}</li>\n</ul>\n<p>Please investigate and resolve the issue.</p>\n<p>Best regards,<br>FastenMind System</p>",
        "options": {}
      },
      "id": "send-error-notification",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "url": "={{$env[\"FASTENMIND_API_URL\"]}}/api/n8n/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env[\"FASTENMIND_API_KEY\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "report_distributed"
            },
            {
              "name": "entity_type",
              "value": "report"
            },
            {
              "name": "entity_id",
              "value": "={{$json[\"report_id\"]}}"
            },
            {
              "name": "data",
              "value": "={{JSON.stringify({report_name: $json[\"config\"][\"name\"], recipients: $json[\"config\"][\"recipients\"], format: $json[\"config\"][\"format\"]})}}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-distribution",
      "name": "Log Distribution Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 200]
    }
  ],
  "connections": {
    "Weekly Report Trigger": {
      "main": [
        [
          {
            "node": "Set Weekly Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Report Trigger": {
      "main": [
        [
          {
            "node": "Set Monthly Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Weekly Reports": {
      "main": [
        [
          {
            "node": "Prepare Report Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Monthly Reports": {
      "main": [
        [
          {
            "node": "Prepare Report Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report Requests": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Generation Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Success?": {
      "main": [
        [
          {
            "node": "Download Report File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report File": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Archive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Report": {
      "main": [
        [
          {
            "node": "Log Distribution Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "fastenmind"
    },
    {
      "id": "9",
      "name": "reporting"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "vwx234"
}